#containerPanda {
    width: 50%;
    margin: 0 auto;
    height: 800px;
    background-color: gray;
}

#ears {
    height: 800px;
    display: flex;
    justify-content: space-around;

}

.bothEars {
    width: 25%;
    height: 25%;
    border-style: solid;
    border-width: 50px;
    border-radius: 50%;
    border-color: black;
    background-color: white;
    z-index: 1;
}


#face {
    position: relative;
    top: -700px;
    left: 75px;
    width: 80%;
    height: 80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: black;
    background-color: white;
    z-index: 2;
}

#eyes {
    position: relative;
    top: 80px;
    width: 80%;
    height: 270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#leftEye {
    width: 100px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(25deg);
    background-color: black;

}

#rightEye {
    width: 100px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(-25deg);
    background-color: black;

}

#leftPupil {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

#rightPupil {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}




#nose {
    position: absolute;
    top: 370px;
    left: 295px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid black;
}

#mouth {
    position: absolute;
    top: 450px;
    left: 190px;
    width: 350px;
    height: 175px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    border: 10px solid black;
    border-top: 0;
    background-color: white;
}